body {
    margin: 10px 20px;
}

form {
    margin-bottom: 10px;
}

h4 {
    margin-top: 0px;
}

#topic-buttons, .jumbotron {
    margin-top: 10px;
}

#topic-buttons>button {
    margin: 5px 5px;
}

.panel {
    display: inline-block;
    margin: 10px;
    vertical-align: top;
}

.fave {
    color: grey;
}

.faved {
    color: red;
}

.panel-faves, .panel-form {
    width: 100%;
    margin-left: 0px;
}

#faves {
    display: none;
}


@media screen and (min-width: 991px) {
    #clear-data {
        opacity: .5;
        position: fixed;
        z-index: 999;
        top: 10px;
        right: 0px;
    }
    #clear-data:hover {
        opacity: 1;
    }
    #clear-data:hover span::after {
        content: " - Clear user data";
    }
}